<nav class="navbar navbar-expand-lg navbar-light" id="topnav">
  <div class="container">

    <!-- Brand -->
    <a class="navbar-brand mr-auto" [routerLink]="['/home']" routerLinkActive="router-link-active" >
      <img src="../assets/img/logo.svg" alt="..." class="navbar-brand-img">
    </a>

    <!-- User -->
    <div *ngIf='loggedIn()' class="navbar-user">

      <!-- Dropdown -->
      <div class="dropdown mr-4 d-none d-lg-flex">

        <!-- Toggle -->
        <a href="#" class="navbar-user-link" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <span class="icon active">
            <i class="fe fe-bell"></i>
          </span>
        </a>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-card">
          <div class="card-header">

            <!-- Title -->
            <h5 class="card-header-title">
              Notifications
            </h5>

            <!-- Link -->
            <a href="#!" class="small">
              View all
            </a>

          </div> <!-- / .card-header -->
          <div class="card-body">

            <!-- List group -->
            <div class="list-group list-group-flush list-group-activity my-n3">
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="../../assets/img/avatars/profiles/avatar-6.jpg" alt="..."
                        class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Dianna Smiley</strong> shared your post with Ab Hadley, Adolfo Hess, and 3 others.
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="../../assets/img/avatars/profiles/avatar-2.jpg" alt="..."
                        class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Ab Hadley</strong> reacted to your post with a 😍
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="../../assets/img/avatars/profiles/avatar-3.jpg" alt="..."
                        class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Adolfo Hess</strong> commented <blockquote class="mb-0">“I don’t think this really makes
                        sense to do without approval from Johnathan since he’s the one...” </blockquote>
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="../../assets/img/avatars/profiles/avatar-4.jpg" alt="..."
                        class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Daniela Dewitt</strong> subscribed to you.
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="../../assets/img/avatars/profiles/avatar-5.jpg" alt="..."
                        class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Miyah Myles</strong> shared your post with Ryu Duke, Glen Rouse, and 3 others.
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="../../assets/img/avatars/profiles/avatar-6.jpg" alt="..."
                        class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Ryu Duke</strong> reacted to your post with a 😍
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="../../assets/img/avatars/profiles/avatar-7.jpg" alt="..."
                        class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Glen Rouse</strong> commented <blockquote class="mb-0">“I don’t think this really makes
                        sense to do without approval from Johnathan since he’s the one...” </blockquote>
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
              <a class="list-group-item text-reset" href="#!">
                <div class="row">
                  <div class="col-auto">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm">
                      <img src="../../assets/img/avatars/profiles/avatar-8.jpg" alt="..."
                        class="avatar-img rounded-circle">
                    </div>

                  </div>
                  <div class="col ml-n2">

                    <!-- Content -->
                    <div class="small">
                      <strong>Grace Gross</strong> subscribed to you.
                    </div>

                    <!-- Time -->
                    <small class="text-muted">
                      2m ago
                    </small>

                  </div>
                </div> <!-- / .row -->
              </a>
            </div>

          </div>
        </div> <!-- / .dropdown-menu -->

      </div>

      <!-- Dropdown -->
      <div class="dropdown">
        <!-- Toggle -->
        <a href="#" class="avatar avatar-sm avatar-online dropdown-toggle" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <img src="../../assets/img/avatars/profiles/avatar-4.jpg" alt="..." class="avatar-img rounded-circle">
        </a>

        <!-- Menu -->
        <div class="dropdown-menu dropdown-menu-right">
          <a href="../../profile-posts.html" class="dropdown-item">Profile</a>
          <a href="../../settings.html" class="dropdown-item">Settings</a>
          <hr class="dropdown-divider">
          <a href="#" (click)="logout()" class="dropdown-item">Logout</a>
        </div>

      </div>

    </div>
    
    <div *ngIf='!loggedIn()' class="navbar-user">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" [routerLink]="['/register']" routerLinkActive="router-link-active"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Register
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" [routerLink]="['/login']" routerLinkActive="router-link-active"
            role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login
          </a>
        </li>
      </ul>
    </div>

    <!-- Collapse -->
    <div class="collapse navbar-collapse mr-auto order-lg-first" id="navbar">

      <!-- Navigation -->
      <ul *ngIf='loggedIn()' class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link @@if(category=='dashboards'){active}" [routerLink]="['/dashboard']"  id="topnavDashboards" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dashboards
          </a>
          <!-- <ul class="dropdown-menu" aria-labelledby="topnavDashboards">
            <li>
              <a class="dropdown-item @@if(page=='index.html'){active}" href="@@webRoot/index.html">
                Default
              </a>
            </li>
            <li>
              <a class="dropdown-item @@if(page=='dashboard-project-management.html'){active}" href="@@webRoot/dashboard-project-management.html">
                Project Management
              </a>
            </li>
            <li>
              <a class="dropdown-item @@if(page=='dashboard-ecommerce.html'){active}" href="@@webRoot/dashboard-ecommerce.html">
                E-Commerce
              </a>
            </li>
          </ul> -->
        </li>
      </ul>

    </div>


    
  </div> <!-- / .container -->
</nav>