<div *ngIf="!registerMode" class="container mt-5">
    <div class="text-align: center">
        <h1>Manage your books</h1>
        <p class="lead"> Keep track of the books you read</p>
        <div class="text-center">
            <button class="btn btn-primary btn-lg" (click)="registerToggle()">Register</button>
        </div>
    </div>
</div>

<div *ngIf="registerMode" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <app-register (cancelRegister)='registerToggle()'></app-register>
        </div>
    </div>
</div>