<div class="container mt-3">
  <!-- Title -->
  <h1 class="header-title">
    {{book.title}}
  </h1>

  <div class="row align-items-center mt-3">
    <div class="col-auto">

      <!-- Avatar -->
      <a class="avatar avatar-lg">
        <img src="{{book.imageLink}}" alt="book cover" class="avatar-img rounded">
      </a>

    </div>
    <div class="col ml-n2">

      <!-- Title -->
      <h4 class="mb-1 name">
        <a href="#!">{{book.title}}</a>
      </h4>

      <!-- Text -->
      <p class="card-text small text-muted mb-3">
        {{book.publisher}} - {{book.pageCount}} pages
      </p>
      <p class="card-text small text-muted" [innerHTML]="bookDescriptionFirstSentence"></p>

      <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">View description
      </button>

      <!-- Time -->
    </div>
    <div class="col-auto">

      <!-- Button -->
      <div *ngIf="isLoggedIn" class="btn-group" dropdown>
        <a id="button-animated" dropdownToggle aria-controls="dropdown-animated"
          class="btn btn-sm btn-white d-none d-md-inline-block mr-3 dropdown-toggle">
          Add to my library
        </a>
        <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-animated">
          <li *ngFor="let bookshelf of userBookshelves" role="menuitem">
            <a class="dropdown-item" (click)="addbook(book, bookshelf.id)">{{bookshelf.name}}
            </a>
          </li>
        </ul>
      </div>
      <a *ngIf="!isLoggedIn" class="btn btn-sm btn-white d-none d-md-inline-block mr-3">
        Add to my library
      </a>
      <a class="btn btn-sm btn-white d-none d-md-inline-block">
        Add a review
      </a>


    </div>
  </div> <!-- / .row -->
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-auto">
      <hr>
      <p class="card-text small text-muted" id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true"
        [innerHTML]="book.description">
      </p>
    </div>
  </div>


</div>