<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-5 col-lg-6 col-xl-4 px-lg-6 my-5">

      <!-- Heading -->
      <h1 class="display-4 text-center mb-3">
        Sign up
      </h1>

      <!-- Form -->
      <form #registerForm='ngForm'>

        <!-- Username -->
        <div class="form-group">

          <!-- Label -->
          <label>
            User name
          </label>

          <!-- Input -->
          <input name="username" [(ngModel)]="model.username" type="text" class="form-control" placeholder="Username">

        </div>

        <!-- Password -->
        <div class="form-group">

          <!-- Label -->
          <label>
            Password
          </label>

          <!-- Input group -->
          <div class="input-group input-group-merge">

            <!-- Input -->
            <input name="password" [(ngModel)]="model.password" type="password"
              class="form-control form-control-appended" placeholder="Password">

            <!-- Icon -->
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fe fe-eye"></i>
              </span>
            </div>

          </div>
        </div>


        <button class="btn btn-lg btn-block btn-primary mb-3" (click)='register()'>
          Sign up
        </button>


        <!-- Link -->
        <div class="text-center">
          <small class="text-muted text-center">
            Already have an account? <a [routerLink]="['/login']" routerLinkActive="router-link-active">Log in</a>.
          </small>
        </div>

      </form>

    </div>
    <div class="col-12 col-md-7 col-lg-6 col-xl-8 d-none d-lg-block">

      <!-- Image -->
      <div class="bg-cover vh-100 mt-n1 mr-n3"
        style="background-image: url(assets/img/covers/library-auth-side-cover.jpg);"></div>

    </div>
  </div> <!-- / .row -->
</div>